html{
	height: 100%;
}
body{
	margin: 0;
	min-height: 100%;
	display: grid; /*使用grid排版*/
	grid-template-rows: 1fr auto; /*將上半部設置為一個單位，剩下的部分設為自動高度*/
	background-color: #FDF6F6;
}
.container{
	color: #1B2156;
	background-color: #FEDFDF;
	text-align: center;
	margin: 15px;
    display:flex;
    align-items:center;
    justify-content:center;
}

#start_page{
	display: grid;
    place-items: center;
	visibility: visible;
}

#test_page{
	display: none;
}

#result_page{
	display: none;
}

#resultDiv{
	display: flex;
    justify-content: center;
	flex-direction: column;
}

.bookDiv{
	display: flex;
	flex-direction: row;
}
/* div{
	padding-left: 15px;
	padding-right: 15px;
	margin-bottom: 3%;
} */
.footer{
	color: rgba(255,255,255,.3);
	height: 50px;
	padding: 25px 0;
	background-color: #222;
	grid-row-start: 2;/*欄位從第二條橫線開始*/
	grid-row-end: 3;/*欄位從第三條橫線結束*/
	text-align: center;
}
img {
	height: 200px;
}