{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="copyright" content="統神端湯上塔 Copyright © Asiagodtone brings the soup to the tower.">
    <meta name="keywords" content="輔大圖書館,圖書館,心理測驗,書圖同歸,測驗,趣味測驗,輔大,圖書館推廣活動">
    <meta name="description" content="在茫茫書海中，找到屬於你的書。">
    <!-- Open Graph Protocol -->
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="書圖同歸：在茫茫書海中，找到屬於你的書。" />
    <meta property="og:description" content="在茫茫書海中，找到屬於你的書。" />
    <meta property="og:locate" content="zh_tw" />
    <meta property="og:image" content="https://i.imgur.com/dCTfONT.jpg" />
    <!-- Bootstrap -->
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <!-- CSS -->
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <title>書圖同歸</title>
    <!-- jQuery, Google CDN -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        
    </script>

    <script type="text/javascript">
        function next() {
            if (document.getElementsByClassName("quiestion")[test_index].hidden == false) {
                var name = document.getElementsByClassName("quiestion")[test_index].children[2].children[0].name;
                console.log(name)
            }
            var v = $("input[name="+name+"]").is(":checked");
            if (v) {
                document.getElementsByClassName("quiestion")[test_index].hidden = true;
                test_index += 1;
                document.getElementsByClassName("quiestion")[test_index].hidden = false;
                if (test_index == {{ test_num }}-1){
                    console.log("最後一題");
                }
            }
            
    }
    </script>
    <script src="{% static 'js/app.js' %}"></script>
</head>
<body>
<div class="container">
    <div id="start_page">
        <h1>書圖同歸</h1>
        <h3>在茫茫書海中，找到屬於你的書。</h3>
        <div class="description">
            <p>想要探索自己有興趣的書籍嗎？圖書館設計了一款線上答題趣味遊戲，歡迎大家來參與，越積極參與就有越多機會獲得精美小禮物喔！</p>
        </div>
        <button onclick="start()">開始</button>
            <!-- <img  src="{% static 'svg/AnyConv.com__3.svg'  %}" style="height: 200px" class="box"/> -->
    </div>
        
    <div id="test_page">
    {% for test in test_list %}
        {% if forloop.counter == 1 %}
        <div  id="{{ forloop.counter }}" class="quiestion" >
        {% else %}
        <div  id="{{ forloop.counter }}" class="quiestion"  hidden>
        {% endif %}
        <div>
            目前題數 : {{ forloop.counter }} / {{ test_num }}
        </div>
        {{ test.id }}
        {{ test.question }}
        {% for choice in choice_list %}
                {% if test.id == choice.question_id %}
                    <div >
                    {% for typeof in type_list %}
                        {% if choice.id == typeof.choice_id %}
                        

                        <input type="radio" id="test" name="{{ test.id }}" value="{{ typeof.text }}" >
                        <label for="{{ test.id }}">{{ choice.choice_number }}.{{ choice.text }}</label><br>
                    
                            {{ typeof.text }}類
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
        {% endfor %}
        {% if forloop.counter == test_num %}
                <!--<form id="" method="POST" class="process_result_from_client">-->
                {% csrf_token %}
                <input type="hidden" name="score" value="0">
                <button id="end" onclick="submit()" type="submit" class="btn btn-default btn-sm btn-outline-secondary">
                    送出
                </button>
                <!--</form>-->
        {% else %}
            <button id="next" onclick="next()">下一題</button>
        {% endif %}
        </div>
    {% endfor %}
    </div>
    <div id="result_page">
        <div id="loadingDiv"><p>結果載入中...</p></div>
        <div id="resultDiv">
            <h3>記得將結果截圖</h3>
            <p>借書時把結果給館員看</p>
            <h3>我們覺得你適合看這些書...</h3>
            
        </div>
    </div>
</div>
</body>
</html>
