{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="copyright" content="統神端湯上塔 Copyright © Asiagodtone brings the soup to the tower.">
    <meta name="keywords" content="輔大圖書館,圖書館,心理測驗,書圖同歸,測驗,趣味測驗,輔大,圖書館推廣活動">
    <meta name="description" content="在茫茫書海中，找到屬於你的書。">
    <!-- Open Graph Protocol -->
    <meta property="og:url" content="{{ request.path }}" />
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="書圖同歸：在茫茫書海中，找到屬於你的書。" />
    <meta property="og:description" content="在茫茫書海中，找到屬於你的書。" />
    <meta property="og:locate" content="zh_tw" />
    <meta property="og:image" content="{{ FB_share_Default }}" />
    <!-- CSS -->
    <link rel="icon" type="image/x-icon" href="{{ logo_icon }}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <title>書圖同歸</title>
    <!-- jQuery, Google CDN -->
    <script src="https://code.jquery.com/jquery-3.5.0.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script type="text/javascript">
        function next() {
            if (document.getElementsByClassName("quiestion")[test_index].hidden == false) {
                var name = document.getElementsByClassName("quiestion")[test_index].children[2].children[0].name;
                console.log(name)
            }
            var v = $("input[name="+name+"]").is(":checked");
            if (v) {
                document.getElementsByClassName("quiestion")[test_index].hidden = true;
                test_index += 1;
                document.getElementsByClassName("quiestion")[test_index].hidden = false;
                if (test_index == {{ test_num }}-1){
                    console.log("最後一題");
                }
            }
            
    }
    </script>
    <script src="{% static 'js/app.js' %}"></script>
</head>

<body>
<div class="container">
    <div id="start_page">
        <h1>書圖同歸</h1>
        <h3>在茫茫書海中，找到屬於你的書。</h3>
        <div class="description">
            <p>想要探索自己有興趣的書籍嗎？圖書館設計了一款線上答題趣味遊戲，越積極參與就越有機會獲得精美小禮物！</p>
            <p>推薦書或分享書還能額外獲得點數，大家把握機會喔！</p>
        </div>

        <button type="button" class="btn btn-outline-dark" onclick="start()">開始</button>
    </div>
        
    <div id="test_page">
    {% for test in test_list %}
        {% if forloop.counter == 1 %}
        <div  id="{{ forloop.counter }}" class="quiestion" >
        {% else %}
        <div  id="{{ forloop.counter }}" class="quiestion"  hidden>
        {% endif %}
        <div>
            <h4>目前題數 : {{ forloop.counter }} / {{ test_num }}</h4>
        </div>
        {{ forloop.counter }}
        {{ test.question }}
        {% for choice in choice_list %}
                {% if test.id == choice.question_id %}
                    <div >
                    {% for typeof in type_list %}
                        {% if choice.id == typeof.choice_id %}
                        

                        <input type="radio" id="test" name="{{ test.id }}" value="{{ typeof.text }}" >
                        <label for="{{ test.id }}">{{ choice.choice_number }}.{{ choice.text }}</label><br>
                    
                            {{ typeof.text }}類
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endif %}
        {% endfor %}
        {% if forloop.counter == test_num %}
                {% csrf_token %}
                <input type="hidden" name="score" value="0">
                
                <button id="end" onclick="submit()" type="submit" class="btn btn-outline-dark">
                    送出
                </button>
        {% else %}
            <button id="next"  type="button" class="btn btn-outline-dark" onclick="next()">下一題</button>
        {% endif %}
        </div>
    {% endfor %}
    </div>
    <div id="result_page">
        <div id="loadingDiv">
            <p>結果載入中...</p><img src="{% static 'img/loading.gif' %}">
        </div>
    </div>
</div>
    <footer class="footer"><p>統神端湯上塔 Copyright © Asiagodtone brings the soup to the tower.</p></footer>
</body>
</html>