{% extends 'base.html' %}
{% block title %}
	<title>新增集點紀錄 | Admin</title>
{% endblock %}
	{% block content %}
	<h1>新增集點紀錄</h1>
	{% if messages %}
	{% for message in messages%}
	<script type="text/javascript">
		
		alert("{{ message }}");
	</script>
	  
	

	
	{% endfor %}
	{% endif %}
	<form method="POST" class="pointrecord-form form-group" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<button type="submit" class="save btn btn-info" style="margin-top: 50px">新增</button>
	</form>
	<div>
		<h1>最近三筆集點紀錄</h1>
	</div>
    <table class="table">
		  <thead>
		  	<tr>
		      <th scope="col">#</th>
		      <th scope="col">學號</th>
		      <th scope="col">ISBN</th>
		      <th scope="col">日期</th>
		    </tr>
		  </thead>
		  <tbody>
    		{% for pointrecord in recent_pointrecord_list %}	  
		    <tr>
		      <th scope="row">{{ pointrecord.id }}</th>
		      <td>{{ pointrecord.studentID }}</td>
		      <td>{{ pointrecord.ISBN }}</td>
		      <td>{{ pointrecord.date }}</td>
		    </tr>
    		{% endfor %}
    	</tbody>
	</table>
	{% endblock %}