{% extends 'base.html' %}
{% block title %}
	<title>新增集點紀錄 | Admin</title>
{% endblock %}
	{% block content %}
	<h1>新增集點紀錄</h1>
	{% if messages %}
	{% for message in messages%}
	<div class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}alert-danger{% endif %} {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}alert-success{% endif %}" role="alert">
	  {{ message }}
	</div>

	
	{% endfor %}
	{% endif %}
	<form method="POST" class="pointrecord-form form-group" enctype="multipart/form-data">
		{% csrf_token %}
		{{ form.as_p }}
		<label for="choice_num">類別:</label>
		<select name="choice_num" id="choice_num" class="form-control" onchange="choice_num_change()">
		  <option value="2">活動推薦書</option>
		  <option value="4">其他書</option>
		</select>
		<button type="submit" class="save btn btn-info" style="margin-top: 50px">新增</button>
	</form>
	<div>
		<h1>最近三筆集點紀錄</h1>
	</div>
    <table class="table">
		  <thead>
		  	<tr>
		      <th scope="col">#</th>
		      <th scope="col">學號</th>
		      <th scope="col">ISBN</th>
		      <th scope="col">日期</th>
		    </tr>
		  </thead>
		  <tbody>
    		{% for pointrecord in recent_pointrecord_list %}	  
		    <tr>
		      <th scope="row">{{ pointrecord.id }}</th>
		      <td>{{ pointrecord.studentID }}</td>
		      <td>{{ pointrecord.ISBN }}</td>
		      <td>{{ pointrecord.date }}</td>
		    </tr>
    		{% endfor %}
    	</tbody>
	</table>
	{% endblock %}