{% extends 'base.html' %}
<head>
    {% block title %}
        <title>讀者推薦書 | Test Admin</title>
    {% endblock %}
</head>
<body>
    {% block content %}
	    {% if request.user.is_superuser %}
	    <div>
	    		<h1>讀者推薦書</h1>
	    	</div>
		    <table class="table">
				  <thead>
				  	<tr>
				      <th scope="col">#</th>
				      <th scope="col">學號</th>
				      <th scope="col">類型</th>
				      <th scope="col">推薦內容</th>
				      <th scope="col">時間</th>
				    </tr>
				  </thead>
				  <tbody>
		    		{% for recommend in recommend_list %}	  
				    <tr>
				      <th scope="row">{{ forloop.counter }}</th>
				      <td>{{ recommend.studentID }}</td>
				      <td>{{ recommend.typeof }}</td>
				      <td>{{ recommend.text }}</td>
				      <td>{{ recommend.date }}</td>
				    </tr>
		    		{% endfor %}
		    	</tbody>
			</table>
	    {% endif %}
    {% endblock %}
</body>